<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{url for ('static , filename='css/style.css">
    <title>About</title>
</head>
<body>
    <header>
        Home 
        <h1> About NRIIT Learning Mangement</h1>
        <p>Learn pratice Get Placed</p>
        <nav>
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="trainer.html">Trainer</a>
            <a href="contact.html">Contact</a>
            <a href="register.html">Register</a>
            <a href="login.html">Login</a>
            <a href="course.html">Course</a>
        </nav>
    </header>
    <main>
        <section>
            <h2> About Nriit</h2>
            <p> Nriit is committed to providing to providing quality education in python fullstack 

            </p>
        </section>
    </main>
    <section>
        <h2>vision</h2>
        <p>
            Empowering Student with practical software skills
        </p>
    </section>
    

    </html>
</body>
</html>