<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{url for ('static , filename='css/style.css">
    <title>login Page</title>
</head>
<body>
    <main>
        <h2>Student login</h2>
        <form id="LoginForm">
            <label for="">Email</label><br>
            <input type="email" placeholde="enter the email" id="Loginemail"><br>
            <label for="">password</label><br>
            <input type="password" placeholder="enter the password" id="Loginpassword"><br>
            
            <input type="submit " value="login"><br>
            <button type="submit" value="Login"> Login</button>
        </form>
    </main>
    <script src="js/script.js"></script>
</body>
</html>