<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static , filename='css/style.css'}}">
    <title>Register Page</title>
</head>

<body>
    <main>s
        <h2>Student Registration</h2>
        <form id="registerForm" method="post">
            <label for=""> full Name</label><br>
            <input type="text" placeholder="Enter Your Name" id="name" name="name"><br>
            <label for="">email</label><br>
            <input type="email" placeholder="Enter your email" id="email" name="id"><br>
            <label for="">Password</label><br>
            <input type="password" placeholder="Enter the password" id="password" name="password"><br>
            <label for="">date of birth</label><br>
            <input type="date" placeholder=" DOB" name="Dob"><br>
            <label for="">Gender</label><br>
            <input type="radio" name="gender">male
            <input type="radio" name="gender">Female
            <br>
            <label for="">Select Courses</label>
            <br>
            <select name="courses">
                <option value="">Python Fulstack</option>
                <option value="">Java Fullstack</option>

            </select>
            <br>
            <button type="submit" value="register">Register</button>

        </form>
    </main>
    <script src="{{url_for('static',filename='js/script.js'}}"></script>
</body>

</html>