<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tpasmitha.Vechalapu</title>
</head>

<body>
    <header>
        <h1>Tapasmitha</h1>
        <p><b>Python Full Stack Developer</b></p>
    </header>
    <hr>
    <nav>
        <a href="#about"> About</a>
        <a href="#skills">Skills</a>
        <a href="#education">Education</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </nav>
    <hr>
    <section id=" about">
        <h2>About Me</h2>
        <p>Hello I am <b> Tapasmitha.v </b> I am a <u>python full stack developer</u></p>
        <p> I love python and enthustisatic in learnig backend development</p>
    </section>
    <hr>
    <section id="skills">
        <h2>Skills</h2>
        <ul>
            <li>python</li>
            <li>sql</li>
            <li>html</li>
            <li>css</li>
        </ul>
    </section>
    <hr>
    <section id="education">
        <h2>Education</h2>
        <table border="1">
            <th>Degree</th>
            <th>Institute</th>
            <th>Year</th>
            <tr>
                <td>B.Tech in Computer Science Engineering </td>
                <td>NRI INSTITUTE OF TECHNOLOGY</td>
                <td>2027</td>
            </tr>
            <tr>
                <td>Inter MPC </td>
                <td>sri chaitanya</td>
                <td>2023</td>
            </tr>
            <tr>
                <td>10th</td>
                <td>Akshara nandana vidya nikethan </td>
                <td>2021</td>
            </tr>

        </table>

    </section>
    <hr>
    <section id="project">
        <h2>Project</h2>
        <article><b>AI Resume Analyser</b></article>
        <p>Developer AI Resume Analyzer with fastapi backend webframe work and Typescrupt fronted framework</p>
    </section>
    <hr>
    <section id="contact">
        <h2>Contact</h2>
        <p>Email :<a href="tapasmitha.vechalapu18@gmail.com">tapasmitha.vechalapu18@gmail.com</a></p>
        <p>Phone:  +91 8179074143</p>
    </section>
    <hr>
    <section>
        <h2>Favourite Youtube</h2>
        <iframe src="https://youtu.be/4hNEsshEeN8?si=fRzUqXlCYY5Q173I" frameborder="0"></iframe>
    </section>
    <footer>
        <p>&copy: 2027 Tapasmitha.Vechalapu  . All rights reserved</p>
    </footer>
    <script src="{{url_for('static',filename='js/script.js'}}"></script>

</body>

</html>