<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{url_for ('static', filename='css/style.cs'}}'">
    <title>Trainer</title>
</head>
<body>
    <header>
        Home 
        <h1> trainer NRIIT Learning Mangement</h1>
        <p>Learn pratice Get Placed</p>
        <nav>
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="trainer.html">Trainer</a>
            <a href="contact.html">Contact</a>
            <a href="register.html">Register</a>
            <a href="login.html">Login</a>
            <a href="course.html">Course</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Meet Our Trainer</h2>
            <article>
                <img src="images/trainer.jpg" alt="python Trainer" width="180"
                class="trainer-image">
                <h3>Mr.Sriram</h3>
                <p>python full stack Trainer</p>
                <p>Experience: 4+ years</p>
            </article>
        </section>
    </main>


    </html>
    <script src="{{url_for('static',filename='js/script.js'}}"></script>
</body>
</html>